.register-form {
    background-color: #333; /* Fondo oscuro */
    color: #f5f5f5; /* Texto claro */
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #444; /* Fondo oscuro para inputs */
    color: #f5f5f5; /* Texto claro */
    border: 1px solid #555;
    border-radius: 5px;
  }
  
  .register-form button {
    width: 100%;
    padding: 12px;
    background-color: #ff6347; /* Naranja brillante */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .register-form button:hover {
    background-color: #ff4500; /* Rojo al pasar el ratón */
  }
  