*{
  margin: 0;
  padding: 0%;  
}

body {
    background-color: lightslategrey;
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Encabezado_1 {
    width: auto;
    height: 40px
}

.En_1 {
    border:solid 1px black;


}

.En_2 {
    border: solid 1px black;
    width:25px;
    float: left;

}

